<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block stylesheets %}
       		<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
       		<link rel="stylesheet" href="{{ asset('css/reset.css') }} "> <!-- CSS reset -->
			<link rel="stylesheet" href="{{ asset('css/style.css') }}"> <!-- Gem style -->
			<link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-4.3.1/dist/css/bootstrap.min.css') }}">
			<link rel="stylesheet" type="text/css" href="{{ asset('css/fontawesome-free-5.10.2-web/css/fontawesome.min.css') }}">
		{% endblock %}




	
	
    </head>
    <body>
        {% block body %}
			
		{% endblock %}
        {% block javascripts %}
			<script type="text/javascript" src="{{ asset('angular/angular.min.js') }}" ></script>
			<script type="text/javascript" src="{{ asset('js/jquery-3.4.1.js') }}" ></script>
			<script type="text/javascript" src="{{ asset('js/popper.min.js') }}" ></script>
			<script type="text/javascript" src="{{ asset('css/bootstrap-4.3.1/dist/js/bootstrap.min.js') }}" ></script>
		{% endblock %}
    </body>
</html>
