{% extends 'base.html.twig' %}

{% block body %}
  <div id="wrapper" ng-app="webcatalogue">
    <div class="col-xs-12" style="height: 100%;" ng-controller="AppController as ctrl">
        

    <header>
      <div id="logo"><img src="img/cd-logo.svg" alt="Homepage"></div>
      <div id="title"><h2>WebCatalogue</h2></div>
      <div id="cd-cart-trigger" ng-show="ctrl.panier.produits.length > 0"><a class="cd-img-replace" ng-click="ctrl.showPanier()">Panier</a></div>

      <nav id="main-nav" style="margin-right: 15px">
      <ul>
        <li><a href="#" ng-click="ctrl.changeAction('ajout-produit')" ng-class="{'active': ctrl.currentAction == 'ajout-produit'}">Ajouter un produit</a></li>
        <li><a href="#" ng-click="ctrl.changeAction('produits')" ng-class="{'active': ctrl.currentAction == 'produits'}">Liste des produits</a></li>
        <li><a href="#" ng-click="ctrl.changeAction('ventes')" ng-class="{'active': ctrl.currentAction == 'ventes'}">Liste des ventes</a></li>
      </ul>
    </nav>


    </header>

    
    <main>
    <!-- Appel du component : lorsqu'il y a une majuscule, on sépare par un tiret -->
        <div class="col-xs-12" style="padding: 20px;">
           <component-manager panier="ctrl.panier" on-init="ctrl.setMyManagerComponent(component)" action="ctrl.currentAction" produit="ctrl.produit"></component-manager>
        </div>


        <!-- PANIER --> 
        {% verbatim %}
        <div id="cd-cart" ng-show="ctrl.is_panier_clicked">
          <h2>Panier</h2>
          <ul class="cd-cart-items">
            <li ng-repeat="product in ctrl.panier.produits">
            <span class="cd-qty">{{product.quantite_vendue}}x</span> {{product.nom}}
            <div class="cd-price">{{product.prix_valeur}} €</div>
            <div class="quantity">
              <button class="plus-btn" ng-click="ctrl.addQuantite(product)" type="button" name="button">
               {% endverbatim  %}
               <img src="{{ asset('img/plus.svg') }}"  />
              </button>
              <input type="text" name="name" ng-model="product.quantite_vendue">
              <button class="minus-btn" ng-click="ctrl.removeQuantite(product)" type="button" name="button">
                <img src="{{ asset('img/minus.svg') }}" />
              </button>
              {% verbatim %}
            </div>
            <a href="#0" class="cd-item-remove cd-img-replace" ng-click="ctrl.removeFromPanier($index)">Remove</a>
            </li>
          </ul> 
          <div class="cd-cart-total">
            <p>Total <span>{{ctrl.panier.vente.prix_total}} €</span></p>
          </div> 
          <a class="checkout-btn" id="createVenteBtn" ng-click="ctrl.createVente()">Enregistrer la vente</a>
          <a class="checkout-btn back" style="background-color:#fabc01" ng-click="ctrl.showPanier()">Retour</a>
        </div>
        {% endverbatim  %}
    </main>
    
  
    </div>
  </div>
{% endblock %}

{% block stylesheets %}

{{parent()}}

<style>
    body { background: #F5F5F5; font: 12px "Open Sans", sans-serif;height: 100%;  }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF;width: 100%;  height: 100%; }
    #container {  }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }
    html { height: 100%; }

body {
  overflow-x: hidden;
}


form#formAjout span.input-group-text, form#formAjout div.input-group-prepend{
  width:100px !important;  
  text-align:center;
}

form#formUpdate span.input-group-text, form#formUpdate div.input-group-prepend {
  width: 90px !important;
}

#title {
    position: absolute;
    height: auto;
    width: auto;
    left: 7em;
    right: auto;
    padding-top: 0;
    top: 30px;
    background: transparent;
    box-shadow: none;
    line-height: 80px;
    color: rgb(232, 107, 107);
}


#sidebar-wrapper {

  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#main-nav li a.active {
  color: rgb(232, 107, 107) !important;
}

.list-group, .list-group-item {
  width: 200px !important;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1050; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  height:50%;
}

.modal-content.avoid-full {
  width:80%;
}

.closeModal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeModal:hover,
.closeModal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.modal button{
	margin-left:45px;
}

.modal-dialog.modal-600 {
    max-width: 600px !important;
}



</style>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src={{ asset('public/webcatalogue/build/webcatalogue.min.js') }}></script>
{% endblock %}